<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title= idT
    body
        h1= idT
        table(border="1")
            tr
                th naloga
                th navodila
                th koda
            tr
                td 1.
                td= test.navodila1
                td= test.koda1
            tr
                td 2.
                td= test.navodila2
                td= test.koda2
            tr
                td 3.
                td= test.navodila3
                td= test.koda3
            tr
                td 4.
                td= test.navodila4
                td= test.koda4